
.generator__canvas-wrapper {

  background: $main-bg;
  z-index:8000;
  &.with-shadow {
    @include mobile-medium {
      border-bottom: none;
      box-shadow: -1px 14px 18px -10px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
    }
  }

  @include mobile-medium {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #8d8d8d;
  }

}

canvas {
  width: 100%;
}
