.modal-backdrop {
  z-index: 9997;
}
.memeking-modal {
  z-index: 9999 !important;
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.4);

  .modal-content {
    border: none;
    box-shadow: none;
  }
}