$lightGray : lighten(#d7d7d7, 10%);

$purple : #7d669e;

$mainColor : #0097EB;

$header-height : 60px;

$meme-section-bar-height: 60px;

$main-bg : lighten(#d7d7d7, 12%);

$danger: #ED5E68;

$green-success: #519D7C;

$skeleton-color: #d7d7d7;

$pink: darken(#FFBBC4, 10%);

$success-light: #8CEF9C;