.box-contact-page {
  color: white;
  padding: 70px;
  min-height:400px;
  z-index: 9998 !important;

  @include mobile-medium {
    padding: 0;
  }

  .modal-content {
    z-index: 9998;
    background: $mainColor;
    padding-bottom: 40px;

    .inputs-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;


      input[type=text],  input[type=name],  input[type=email], textarea {
        margin: 15px 0;
        max-width: 450px;
        border: none;
        box-shadow: none;
        color: black;

        @include placeholder{
          color: $mainColor;
          font-family: "Open Sans Hebrew";
        }

        &:focus {
          box-shadow: none;
        }
        @extend %input;
      }

      textarea {
        height: 130px;
      }

      .radios-wrapper {
        max-width: 450px;
        width: 100%;

        .radio-label {
          input[type=radio] {
            margin-left: 15px;
            position:relative;
            top: 4px;
          }
        }

      }


    }


    h3 {
      width:60%;
      margin-right: auto;
      margin-left: auto;

      @include mobile-medium {
        width: 100%;
      }
    }
  }

}