$mainGeneratorControllersColor: $mainColor;
$green: #5fcf80;
$bordercolor: darken($mainGeneratorControllersColor, 10%);
$exampleColor: #ED6F57;
$button-text-width: 154px;

.box-generator-button {
  justify-content: center;
  align-items: center;
  height: 45px;
  text-align: center;
  margin-top: 8px;
  background-color: $mainGeneratorControllersColor;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  text-transform: capitalize;

  @include mobile-medium {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 2px 2px 20px -6px rgba(0, 0, 0, 0.70);
  }

  &:active {
    -webkit-box-shadow: inset 17px -14px 120px -55px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: inset 17px -14px 120px -55px rgba(0, 0, 0, 0.43);
    box-shadow: inset 17px -14px 120px -55px rgba(0, 0, 0, 0.43);
  }

  &:hover {
    color: white;
    background-color: darken($mainGeneratorControllersColor, 5%);;
    cursor: pointer;
  }

  span.text, & + .text {

    width: $button-text-width;
    font-weight: bold;

    @include mobile-medium {
      font-size: 10px;
      color: $mainGeneratorControllersColor;
      text-align: center;
      margin: 5px auto;
      position: relative;
      top: -3px;
      width:30px;

    }

    &.visible-mobile {
      display: none;
      @include mobile-medium {
        display: inline-block;
      }

    }

    &.no_icon {
      width: auto;
    }

  }

  .glyphicon {

    margin-right: 20px;

    @include mobile-medium {
      margin-right: 0;
      font-size: 14px;
      position: relative;
      top: -1px;
    }

  }

}




