.sidebar {
  width: 350px;
  height: 100vh;
  overflow: scroll;
  z-index: 900;
  background: white;

  @include mobile-medium {
    position: fixed;
    margin-top: $header-height;
    z-index:1000;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: 22px 22px 100px 22px;
    @include mobile-and-tablet {
      padding: 15px 10px 50px 10px;
    }
    a {
      &:hover {
        color: $mainColor;
      }
    }
  }

}