.menu-item{
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-height:50px;
  align-items: center;
  padding: 7px;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  font-weight: 500;

  &:hover{
    border-bottom: 1px solid $mainColor;
  }

  &.active{
    background: transparentize($mainColor, 0.4);
    color: white;
    border-radius: 4px;
    border-color: transparent;
  }

  .box-title {
    @include desktop-small {
      font-size: 17px;
    }
  }

  span{
    font-size:16px;
    color: $mainColor;
    &:hover{
      color: $mainColor !important;
    }
  }

}
