.home {
  background: $mainColor;
  height: 100vh;
  color: white;

  @include mobile-medium {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-top: 85px;

  }

  .box-avatar {
    margin-top: 180px;
    @include mobile-medium {
      margin-top: 10px;
    }
  }

  .main-title {
    @include mobile-medium {
      margin-bottom: 10px;
    }
  }

  .personal-messages-link {

    margin-top: 80px;

    @include mobile-medium {
      position: absolute;
      @include absolute-center();
      bottom: 20px;
    }
  }

}

