.home {
  background: $mainColor;
  height: 100vh;
  color: white;
  padding-top: 200px;
  position: relative;

  @include mobile-medium {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-top: 85px;

  }

  .personal-messages-link {
    display: block;
    position: absolute;
    @include absolute-center();
    bottom: 50px;

    @include mobile-medium {

      bottom: 20px;
    }
  }

}

