.box-user-meme {
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  input {
    color: black;
  }

  p.date {
    margin: 20px 0;
  }

  img {
    max-width: 350px;
    align-self: flex-start;

  }
}
