.box-text {

  &.white {
    color: white;
  }

  &.black {
    color: black;
  }

  &.size-lg {
    font-size: 26px;
  }

  &.size-md {
    font-size: 22px;
  }

  &.size-sm {
    font-size: 15px;
  }

  &.inline-block {
    display: inline-block;
  }

}