.memes-section {
  position: relative;
  overflow-x: hidden;
  padding-left: 15px;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: $black;

  @include mobile-medium {
    padding-top: $header-height ;
    padding-left: 12px;
  }

  .memes-container {
    display: flex;
    flex-flow: row-reverse wrap;
    margin-left: -8px; /* Adjustment for the gutter */
  }

}