.memes-section {
  padding-top : $meme-section-bar-height;
  position: relative;
  overflow-x: hidden;
  padding-left: 15px;

  @include mobile-medium {
    padding-top: $header-height ;
    padding-left: 12px;
  }

  .memes-container {
    display: flex;
    flex-flow: row-reverse wrap;
    margin-left: -8px; /* Adjustment for the gutter */
    background: darken($mainColor, 5%);
  }


}