$thirdColor : #3EB87F;


html{
  overflow-y: scroll;
}

body{
  direction: rtl;
  font-family: "Open Sans Hebrew" !important;
  direction: rtl !important;
  language: 'he';
  overflow-x:hidden !important;
  font-size:16px;
  background : lighten(#d7d7d7, 16%);
  min-height: 100vh;


}

.cover{
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 901;
}

.hebrew{
  direction :rtl;
}
a:hover, a:active{
  text-decoration : none !important;
}
::selection {
  background: $mainColor;
}
::-moz-selection {
  background: $mainColor;
}

.hide-desktop {
  @include desktop {
    display:none !important;
  }
}


*:focus{
  outline: 0 !important;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

%input{
  display:block;
  width:100%;
  height:40px;
  padding: 15px 3px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  resize: none;
  text-align: right;
  direction:rtl;
  font-size: 16px;



  &.focus, &:focus,&:active{
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
    outline: 0 !important;
  }
}

.visible-mobile {
  display: none;

  @include mobile-medium {
    display: block;
  }
}

.visible-mobile-flex {
  display: none;

  @include mobile-medium {
    display: flex;
  }
}

.hidden-mobile {
  @include mobile-medium {
    display:none;
  }
}

.clickable {
  cursor: pointer;
}

.block {
  display: block;
}