header {
  height: $header-height;
  box-shadow: 4px 9px 11px -8px rgba(0, 0, 0, 0.4);
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background: $main-bg;
  justify-content: space-between;
  z-index: 8000;

  @include mobile-and-tablet {
    height: 60px;
  }

  img {
    max-width: 50px;
  }
  h1 {
    flex: 1 1 0px;
    display: none;
    text-align: center;
    color: $mainColor;
    font-size: 4rem;
    @include mobile-and-tablet {
      font-size: 25px;
    }
  }
}

.hamburger {
  width: 60px;
  height: 45px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin: auto 20px auto auto;

  @include mobile-and-tablet {
    margin: auto 16px auto auto;
    width: 40px;
    height: 30px;
    top: 15px;
  }

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: $mainColor;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 18px;
      @include mobile-and-tablet {
        top: 13px;
      }
    }

    &:nth-child(3) {
      top: 36px;
      @include mobile-and-tablet {
        top: 26px;
      }
    }

    @include mobile-and-tablet {
      height: 4px;
    }

  }

  &.open {
    position: absolute;
    top:11px;
    span {
      &:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }

    }
  }
}