

.box-meme-section-bar {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  z-index: 9999;
  box-shadow: -1px 14px 18px -10px rgba(0, 0, 0, 0.6);

  @include mobile-medium {
    display: none;
  }

  .actions {

    @include mobile-medium {
      left: 10px;
    }

    & > .action {

      &.glyphicon-zoom-in {
        font-size: 18px;
      }

      &.glyphicon-zoom-out {
        font-size: 12px;
      }
    }

  }

  .search-input-wrapper {

    margin: auto;

    input {
      height: 40px;
      box-shadow: inset 1px 1px 2px 0 #c9c9c9;

    }

    > label {
      top: 16px;
    }

    .glyphicon-remove {
      top: 10px;
    }
  }
}