@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.box-round-loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .round-loader {
    width: 50pt;
    height: 50pt;
    border-radius: 100%;
    border: $mainColor 4pt solid;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    animation: loading 1s infinite;
  }

  .load-text {
    padding-top: 15px;
    text-align: center;
    font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: lighten( $mainColor, 75%);
  }

}
