.transition-appear {
  opacity: 0.01;
}

.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.slide-down-appear {
  height: 0.1px;
}

.slide-down-appear.slide-down-appear-active {
  height: 200px;
  transition: .5s ease-in;
}
