.box-generator-dashboard {

  position: relative;
  z-index: 1;

  .buttons-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    @include mobile-medium {
      width: 98%;
      z-index: 9999;
      justify-content: space-between;
      display: flex;
    }

    .dashboard-button {
      @include mobile-medium {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .box-icon {
          margin-right: 0;
        }

        .dashboard-button-label {
          margin-top: 5px;
          font-size: 11px;
        }
      }
    }
  }

  @include mobile-medium {
    padding-left: 0;
    padding-right: 0;
  }
}


.box-dashboard-skeleton {

  .mock-text-field {
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;

    .mock-input {

      height: 70px;
      background: $white;
      @include skeleton-animation($white);
    }

    .mock-buttons {
      height: 50px;
      background: $lightGray;
      @include skeleton-animation($lightGray);
    }
  }

  .box-cta-button {
    @include skeleton-animation($mainColor);

  }
}
