
.margin-top-md {
  margin-top: 30px !important;
}

.padding-top-none {
  padding-top: 0;
}

.padding-top-small {
  padding-top: 15px;
}

.padding-top-medium {
  padding-top: 30px;
}

.padding-top-large {
  padding-top: 50px;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-bottom-small {
  padding-bottom: 15px;
}

.padding-bottom-medium {
  padding-bottom: 30px;
}

.padding-bottom-large {
  padding-bottom: 50px;
}

.padding-bottom-extra-large {
  padding-bottom: 100px;
}

.padding-left-none {
  padding-left: 0;
}

.padding-left-xs {
  padding-left: 7px;
}

.padding-left-small {
  padding-left: 15px;
}

.padding-left-medium {
  padding-left: 30px;
}

.padding-left-large {
  padding-left: 50px;
}

.padding-left-tiny {
  padding-left: 5px;
}

.padding-right-none {
  padding-right: 0;
}
.padding-right-xs {
  padding-right: 7px;
}

.padding-right-lg{
  padding-right: 30px;
}

.padding-right-tiny {
  padding-right: 5px;
}

.padding-tiny {
  padding: 5px;
}

.margin-top-none {
  margin-top: 0;
}

.margin-top-extra-small {
  margin-top: 5px;
}

.margin-top-small {
  margin-top: 15px;
}

.margin-top-medium {
  margin-top: 30px;
}

.margin-top-large {
  margin-top: 50px;
}

.margin-bottom-none {
  margin-bottom: 0 !important;
}

.margin-bottom-extra-small {
  margin-bottom: 5px;
}

.margin-bottom-small {
  margin-bottom: 15px;
}

.margin-bottom-medium {
  margin-bottom: 30px;
}

.margin-bottom-large {
  margin-bottom: 50px;
}

.margin-bottom-extra-large {
  margin-bottom: 65px;
}

.margin-right-none {
  margin-right: 0px;
}

.margin-right-tiny {
  margin-right: 5px;
}

.margin-right-xtra-small {
  margin-right: 10px;
}

.margin-right-small {
  margin-right: 15px;
}

.margin-right-medium {
  margin-right: 30px;
}

.margin-right-large {
  margin-right: 50px;
}

.margin-right-extra-large {
  margin-right: 65px;
}

.margin-left-none {
  margin-left: 0;
}

.margin-left-tiny {
  margin-left: 5px;
}

.margin-left-extra-small {
  margin-left: 10px;
}

.margin-left-small {
  margin-left: 15px;
}

.margin-left-medium {
  margin-left: 30px;
}

.margin-left-large {
  margin-left: 50px;
}

.margin-left-extra-large {
  margin-left: 65px;
}


