

.LazyLoad{
  height: 100%;
}


.meme-thumb{
  overflow:hidden;
  position:relative;
  cursor:pointer;
  float: left;

  @include mobile-medium{
    width:33.333333333333%;
  }

  &:hover{
    .meme-thumb__overlay{
      opacity : 1;
    }

  }

  .meme-thumb__img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .meme-thumb__overlay{
    opacity:0;
    position:absolute;
    left: 0;
    top : 0;
    width:100%;
    height: 100%;
    transition :0.4s;
    background: rgba(0,0,0,0.7);
    .meme-thumb__description{
      color: white;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      padding: 8px;
      text-transform: capitalize;
      display:block;
      @include mobile-medium{
        display: block;
        font-size: 10px;
      }
      .meme-thumb__download-counter{
        color :$mainColor;
      }
    }

  }


}
