.items_area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #8d8d8d;
  margin-top: 7px;
  cursor: pointer;

  .trash{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    height:30px;
    color: #c25975;
    margin: 10px 0 10px 0;
    span{
      display:flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #c25975;
      width:150px;
      padding:5px;
    }
  }
  .items_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    & > div {
      width: 20%;
      height: 60px;
      transition: 0.7s;
      border: 1px solid transparent;
      overflow: hidden;
      &:hover {
        border: 1px solid #8d8d8d;
      }
      img {
        max-width: 100%;

      }
    }

  }
}