

.box-searcher{

  width: 87%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  position:relative;
  z-index: 999;

  @include mobile-medium {
    margin-bottom: 20px;
  }

  .input-container {
    position: relative;
    .search-icon {
      position: absolute;
      left: 15px;
      top: 21px;

      @include mobile-medium {
        top: 24px;
      }

    }

  }


  .search-result-component {
    position: absolute;
    width:100%;
    z-index: 9999;
    padding: 10px;
    max-height: 600px;
    overflow-y: hidden;
    overflow-x: scroll;

    @include mobile-medium {
      max-height: 400px;

    }

    &:hover {
      background: $lightGray;
    }


    .empty-state-img {
      max-width: 400px;
      @include mobile-medium {
        max-width: 200px;
      }
    }

  }

}