.box-collage-switcher {

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: auto;

  .inner-switcher {

    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid $pink;
    border-radius: 50px;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
    justify-content: center;

    @include mobile-and-tablet {
      border-color: white;
      color: white !important;
      width: 35px;
      height: 35px;
    }

    &.active {
      background: lighten($pink, 20%);
      border-color: $pink;

      @include mobile-medium {
        border-color: white;
      }
    }

  }

  .collage-label {
    margin-left: 2px;
  }

  .text-container {
    line-height: 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

  }

  .switcher-cta {
    position: fixed;
    top: 40%;
    left: 0px;
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    opacity: 0;
    box-shadow: 2px 4px 18px -6px rgba(0, 0, 0, 1);
    z-index: 9999;
    padding: 15px;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;

    &.is-visible {
      opacity: 1;
    }

  }

  .collage-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
}